.full-screen-div {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.855); /* Optional: Add a background color */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  /* height: 200px; */
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Outer shadow */
  border-radius: 10px; /* Optional: rounded corners */
}


.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start of the column */
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items to the start of the column */
}



